/*!
Colors SCSS File
The file manages the colors that are used globally within this application.
*/

// For when you have text on anything dark.
$white: #ffffff;

// This color is the lightest gray used on the site.
$lightest-gray: #f9f9f9;

//     --  Light Line Separators (Rules)
$light-gray: #e2e2e2;

// Base text color
$text-color: #666666;

// Primary Branding Color
$branding-primary: #446bb2;

// Dark Gray
$dark-gray: #2a2730;

