/*!
Interactions SCSS File
The file manages the interactions that are used globally within this application.
*/

a, 
.fa,
a:hover, 
.fa:hover {
	-webkit-transition: color .2s; /* For Safari 3.0 to 6.0 */
    transition: color .2s; /* For modern browsers */

	-webkit-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
	-moz-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
	-o-transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); 
	transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955); /* easeInOutQuad */
}

.fa:hover {
	color: $branding-primary;
}

