/*!
Buttons SCSS File
The file manages all button styles.
*/

.btn-default {
	background-color: transparent;
	color: $text-color;
}

.light-dropdown-menu {
	margin: 0 auto;
    width: 300px;
}

.dropdown-toggle {
	padding-left: 9px;
}

.btn-group.open > .dropdown-toggle,
.btn-group.open > .dropdown-toggle:hover,
.btn-group.open > .dropdown-toggle:active,
.btn-group > .dropdown-toggle:hover,
.btn-group > .dropdown-toggle:active,
.btn-group > .dropdown-toggle {
	background-color: transparent !important;
	box-shadow: none;
}

.btn-group > .dropdown-toggle:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.light-dropdown-menu .btn-lg {
	border-color: $white;
	color: $white;
	background-color: transparent;

	&:hover {
		color: $white;
		background-color: rgba(255, 255, 255, .15); // Todo: Need to convert this to a variable.
	}
}

.std-dropdown-menu {
	.filter-option {
		color: #c8c8c8;
		font-weight: 400;
	}

	.selected .btn-default > .filter-option {
		color: #666666;
	}
}

.open .filter-option {
	color: #a9a9a9;
}

.btn.light {
	color: $white;
	border-color: $white;

	&:hover {
		color: $white;
		background-color: rgba(255, 255, 255, .15); // Todo: Need to convert this to a variable.
	}
}

.btn-lg {

	&.btn-primary {
		border-color: transparent;
	}
}
